@(docs: List[WikipediaDoc])


@main(title = "CodeU Wiki Search") {
    <h1 class="grey-text text-darken-4">Search Results</h1>
    <ul class="result">
    @for(doc <- docs) {
        <div class="row">
            <div class="col s12 m10">
                <div class="card horizontal blue-grey lighten-5">
                    <div class="card-content">
                        @if(doc.titleExists()) {
                            <li class="card-title blue-text text-darken-3"><a href="@doc.getUrl()">@doc.getTitle()</a></li>
                        }
                        @if(doc.urlExists()) {
                            <li class="url green-text text-darken-2">@doc.getUrl()</li>
                        }
                        @if(doc.highlightExists()) {
                            <li class="highlights grey-text text-darken-3">
                            @Html(doc.getHighlight())
                            </li>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    </ul>
}