@(docs: WikipedaDocsPage)


@main("Search"){
    <div style="width: 50%;
        float: left;
        padding-left: 11%">
        <h4 class="grey-text text-darken-4">Search Results</h4>
    </div>
    @Html(docs.getDisplayingHTML)
    <div style="width: 50%;
        float: left">
        <form method="get" action="/search" class="search-container">
            <div class="searchWrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?" name="query">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <ul class="result">
    @for(doc <- docs.getDocs()) {
        <div class="row" id="cardResult">
            <div class="col s12 m10">
                <div class="card horizontal blue-grey lighten-5">
                    <div class="card-content">
                        @if(doc.titleExists()) {
                            <li class="card-title blue-text text-darken-3"><a href="@doc.getUrl()">@doc.getTitle()</a></li>
                        }
                        @if(doc.urlExists()) {
                            <li class="url green-text text-darken-2">@doc.getUrl()</li>
                        }
                        @if(doc.highlightExists()) {
                            <li class="highlights grey-text text-darken-3 ">
                            @Html(doc.getHighlight())
                            </li>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    </ul>

    @Html(docs.getPaginationHTML)
}



